#container {

  position: absolute;
  left: 0;
  right: 0;
  top: 45%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.input-field{
  border: 0.5px solid #e6e6e6;
    border-radius: 9px;
    --padding-start:10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.submit{
  width: 68px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
 
}

.background{
  --background: url(/assets/test.jpg) no-repeat center center fixed;
  background-size: cover;
}